<div class='modal modal-delete-task'>
  <div class='modal__card'>
    <form action='/api/tasks/?_method=DELETE' method="POST">
      <p>Czy na pewno chcesz skasować to zadanie?</p>
      <button type='submit'>Kasuj</button>
    </form>
  </div>
</div>