<form action='/api/tasks' method='POST'>
  <label>
    Podaj nazwę zadania: <br>
    <input type="text" name="title" minlength="3" maxlength="30" required><br>
  </label>
  <label>
    <select name='{{selected-category}}'>
      {{#each categories}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>
  <br>
  <button type='submit'>Dodaj zadanie</button>
</form>