<main class='main'>
  <h2 class='main__title'>zadania</h2>
  <ul class='tasks-list'>
    <li class='task'>
      <div class='task-logo'>
        <img class='task-logo__image task-logo__image--large'
          src='images/laptop-code-solid.svg'
          alt='laptop icon'>
      </div>
      <span class='task__title'>Dokończyć aplikację To-Do</span>
      <span class='task__date'>18 listopada, 2021</span>
      <span class='task__time'>11:20</span>
    </li>
    <li class='task'>
      <div class='task-logo'>
        <img class='task-logo__image task-logo__image--small'
          src='images/running-solid.svg'
          alt='running man icon'>
      </div>
      <span class='task__title'>Wyjść z psem na spacer</span>
      <span class='task__date'>19 listopada, 2021</span>
      <span class='task__time'>18:35</span>
    </li>
    <li class='task'>
      <div class='task-logo'>
        <img class='task-logo__image task-logo__image--small' src='images/running-solid.svg'
          alt='running man icon'>
      </div>
      <span class='task__title'>Zacząć regularnie biegać</span>
      <span class='task__date'>20 listopada, 2021</span>
      <span class='task__time'>12:34</span>
    </li>
    <li class='task'>
      <div class='task-logo'>
        <img class='task-logo__image task-logo__image--large' src='images/pizza-slice-solid.svg'
          alt='pizza slice icon'>
      </div>
      <span class='task__title'>Zjeść obiad</span>
      <span class='task__date'>21 listopada, 2021</span>
      <span class='task__time'>09:05</span>
    </li>
    <li class='task'>
      <div class='task-logo'>
        <img class='task-logo__image task-logo__image--large' src='images/pizza-slice-solid.svg'
          alt='pizza slice icon'>
      </div>
      <span class='task__title'>Zjeść obiad</span>
      <span class='task__date'>21 listopada, 2021</span>
      <span class='task__time'>09:05</span>
    </li>
  </ul>

  <div class='tasks-done'>
    <span class='tasks-done__text'>skończone</span>
    <span class='tasks-done__number'>36</span>
  </div>

  <button class='add-task-button'></button>
</main>