<section class='menu'>
  <div class='title-wrapper'>
    <img src='images/home-solid.svg' alt='home icon'
      class='subtitle-wrapper__icon'>
    <h2 class='title-wrapper__text'>menu główne</h2>
  </div>
  <div class='subtitle-wrapper'>
    <img src='images/pencil-ruler-solid.svg' alt='pencil icon'
      class='subtitle-wrapper__icon'>
    <h2 class='subtitle-wrapper__text'>lista zadań</h2>
  </div>

  <ul class='category-list'>
    <li class='category'>
      <span class='category__name'>Wszystkie</span>
      <div class='category__pill'>36</div>
    </li>
    <li class='category'>
      <img src='images/running-solid.svg' alt='running man icon'
        class='category__icon'>
      <div class='category__dot category__dot--orange'></div>
      <span class='category__name'>Rekreacja</span>
      <div class='category__pill'>8</div>
    </li>
    <li class='category'>
      <img src='images/laptop-code-solid.svg' alt='laptop icon'
        class='category__icon'>
      <div class='category__dot category__dot--yellow'></div>
      <span class='category__name'>Technologia</span>
      <div class='category__pill'>11</div>
    </li>
    <li class='category'>
      <img src='images/user-tie-solid.svg' alt='user icon'
        class='category__icon'>
      <div class='category__dot category__dot--red'></div>
      <span class='category__name'>Osobiste</span>
      <div class='category__pill'>12</div>
    </li>
    <li class='category'>
      <img src='images/pizza-slice-solid.svg' alt='pizza slice icon'
        class='category__icon'>
      <div class='category__dot category__dot--green'></div>
      <span class='category__name'>Jedzenie</span>
      <div class='category__pill'>5</div>
    </li>
  </ul>
  <div class='subtitle-wrapper'>
    <img src='images/calendar-check-solid.svg' alt='calendar icon'
      class='subtitle-wrapper__icon'>
    <h2 class='subtitle-wrapper__text'>kalendarz</h2>
  </div>

  <ul class='calendar-category-list'>
    <li class='calendar-category-list__year'>
      Rok: <span class='year'>2021</span>
    </li>
    <li class='calendar-category-list__month'>
      Miesiąc: <span class='month'>listopad</span>
    </li>
    <li class='calendar-category-list__day'>
      Dzień: <span class='day'>18, </span>
      <span class='day-of-week'>czwartek</span>
    </li>
  </ul>
  <button class='desktop-add-task-button' type='submit'>dodaj zadanie</button>
</section>