<header class='header'>
  <div class='header-left'>
    <button class='mobile-hamburger-menu'>
      <span class='mobile-hamburger-menu__bar'></span>
      <span
        class='mobile-hamburger-menu__bar mobile-hamburger-menu__bar--short'></span>
      <span class='mobile-hamburger-menu__bar'></span>
    </button>
    <h1 class='header-left__title'>Zadania do&nbsp;zrobienia</h1>
    <span class='header-left__date'>18 listopada, 2021</span>
    <hr class='header-left__horizontal-line'>
  </div>
  <div class='header-right'>
    <div class='categories'>
      <div class='category'>
        <span class='category__number'>8</span>
        <span class='category__name'>rekreacja</span>
      </div>
      <div class='category'>
        <span class='category__number'>11</span>
        <span class='category__name'>tech</span>
      </div>
      <div class='category'>
        <span class='category__number'>12</span>
        <span class='category__name'>osobiste</span>
      </div>
      <div class='category'>
        <span class='category__number'>5</span>
        <span class='category__name'>jedzenie</span>
      </div>
    </div>
    <div class='percentage-of-done-tasks'>
      <div class='pie-chart'></div>
      <span class='percentage-of-done-tasks__text'>63% zrobione</span>
    </div>
  </div>
</header>