:root {
  /* COLORS **/
  --primary-color: hsl(208, 58%, 14%);
  --primary-color-menu: hsla(208, 58%, 14%, 25%);
  --secondary-color: hsl(201, 53%, 40%);
  --secondary-color-dark: hsla(201, 53%, 40%, 30%);
  --transparent-black: hsla(0, 0%, 0%, 20%);
  --gray: hsl(0, 0%, 70%);
  --blue-gray: hsl(201, 31%, 56%);
  --shadow: 0 5px 10px hsla(201, 53%, 40%, 40%);
  --shadow-mobile-menu: 0 10px 20px 5px hsla(0, 0%, 0%, 25%);
  --category-recreation-color: hsl(36, 81%, 50%);
  --category-technology-color: hsl(65, 78%, 57%);
  --category-personal-color: hsl(0, 78%, 57%);
  --category-food-color: hsl(130, 78%, 57%);
  /* FONTS */
  --font-family: Roboto;
  --font-primary-color: white;
  --font-size-add-button: 2.25rem;
  --font-size-title: 2rem;
  --font-size-category-number: 1.5rem;
  --font-size-add-task-title: 1rem;
  --font-size-headers: 0.875rem;
  --font-size-date: 0.75rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --svg-width-large: 1.5rem;
  --svg-width-small: 1.1875rem;
  --font-size-add-task-title-small-mobile: 1.125rem;
  --font-size-add-button-small-tablet: 3rem;
  --font-size-title-small-tablet: 3rem;
  --font-size-date-small-tablet: 1rem;
  --font-size-category-number-small-tablet: 2rem;
  --font-size-headers-small-tablet: 1.125rem;
  --font-size-add-task-title-small-tablet: 1.5rem;
  --svg-width-large-small-tablet: 2rem;
  --svg-width-small-small-tablet: 1.583rem;
  --font-size-title-large-tablet: 4.5rem;
  --font-size-category-number-large-tablet: 3rem;
  --font-size-date-large-tablet: 1.5rem;
  --font-size-headers-large-tablet: 1.75rem;
  --font-size-add-task-title-large-tablet: 2.375rem;
  --svg-width-large-large-tablet: 2.5rem;
  --svg-width-small-large-tablet: 1.9375rem;
  --font-size-title-small-desktop: 2.625rem;
  --font-size-title2-small-desktop: 2rem;
  --font-size-title-tasks-small-desktop: 1.25rem; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: var(--primary-color);
  color: var(--font-primary-color);
  display: grid;
  font-family: var(--font-family);
  grid-template-rows: max-content;
  line-height: 1;
  min-height: 100vh;
  overflow: hidden; }
  @media (min-width: 1280px) {
    body {
      background-image: url("../images/mountains.jpg");
      background-position: -870px -630px;
      background-repeat: no-repeat;
      background-size: 2970px;
      column-gap: 2.5rem;
      grid-template-columns: 19.75rem 1fr; } }
  @media (min-width: 1440px) {
    body {
      padding: 0 calc(50vw - 720px); } }

h1, h2, h3, h4, h5, h6, hr, ul, p {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

.header {
  background-image: url("../images/mountains.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 59.44% 40.56%;
  height: 32.5vh; }
  @media (min-width: 1280px) {
    .header {
      display: none; } }
  .header .header-left {
    position: relative; }
    .header .header-left .mobile-hamburger-menu {
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 0.875rem;
      margin: 1.5em 0 0 1.5rem;
      padding: 0;
      position: relative;
      width: 1.5rem;
      z-index: 1; }
      @media (min-width: 600px) {
        .header .header-left .mobile-hamburger-menu {
          height: 1.5rem;
          width: 2rem; } }
      @media (min-width: 900px) {
        .header .header-left .mobile-hamburger-menu {
          margin: 2em 0 0 2rem; } }
      .header .header-left .mobile-hamburger-menu__bar {
        background-color: white;
        border-radius: 0.0625rem;
        height: 0.125rem;
        width: 100%; }
        @media (min-width: 600px) {
          .header .header-left .mobile-hamburger-menu__bar {
            border-radius: 0.25rem;
            height: 0.25rem; } }
        .header .header-left .mobile-hamburger-menu__bar.rotate-right {
          transform-origin: left;
          transform: rotate(45deg) translate(3px, -1px); }
          @media (min-width: 600px) {
            .header .header-left .mobile-hamburger-menu__bar.rotate-right {
              transform: rotate(45deg) translate(0px, -1px); } }
        .header .header-left .mobile-hamburger-menu__bar.rotate-left {
          transform-origin: left;
          transform: rotate(-45deg) translate(-2px, 6px); }
          @media (min-width: 600px) {
            .header .header-left .mobile-hamburger-menu__bar.rotate-left {
              transform: rotate(-45deg) translate(-1px, 2px); } }
        .header .header-left .mobile-hamburger-menu__bar--short {
          width: 75%; }
          .header .header-left .mobile-hamburger-menu__bar--short.not-visible {
            display: none; }
    .header .header-left__title {
      font-size: var(--font-size-title);
      font-weight: var(--font-weight-light);
      margin: 1.75rem 0 0 1.5rem;
      max-width: min-content; }
      @media (min-width: 600px) {
        .header .header-left__title {
          font-size: var(--font-size-title-small-tablet); } }
      @media (min-width: 900px) {
        .header .header-left__title {
          font-size: var(--font-size-title-large-tablet);
          margin: 3.5rem 0 0 2rem; } }
    .header .header-left__date {
      bottom: 1.5rem;
      color: var(--gray);
      display: block;
      font-size: var(--font-size-date);
      font-weight: var(--font-weight-normal);
      left: 1.5rem;
      position: absolute; }
      @media (min-width: 600px) {
        .header .header-left__date {
          font-size: var(--font-size-date-small-tablet); } }
      @media (min-width: 900px) {
        .header .header-left__date {
          bottom: calc(3rem - 2px);
          font-size: var(--font-size-add-task-title-small-tablet);
          left: 2rem; } }
    .header .header-left__horizontal-line {
      background-color: var(--secondary-color);
      border: none;
      bottom: 0;
      height: 0.25rem;
      position: absolute;
      width: 100%; }
      @media (min-width: 600px) {
        .header .header-left__horizontal-line {
          height: 0.375rem; } }
      @media (min-width: 900px) {
        .header .header-left__horizontal-line {
          height: 0.5rem; } }
  .header .header-right {
    background-color: var(--transparent-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.375rem;
    position: relative; }
    @media (min-width: 414px) {
      .header .header-right {
        padding: 0 1.8125rem; } }
    @media (min-width: 600px) {
      .header .header-right {
        padding: 0 3.375rem; } }
    @media (min-width: 900px) {
      .header .header-right {
        padding: 0 4.375rem; } }
    .header .header-right .categories {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 0.75rem; }
      @media (min-width: 600px) {
        .header .header-right .categories {
          grid-row-gap: 1rem;
          grid-column-gap: 0.75rem; } }
      @media (min-width: 900px) {
        .header .header-right .categories {
          grid-row-gap: 2.5rem;
          grid-column-gap: 2.8125rem; } }
      .header .header-right .categories .category {
        align-items: center;
        display: flex;
        flex-direction: column; }
        .header .header-right .categories .category__number {
          font-size: var(--font-size-category-number);
          font-weight: var(--font-weight-bold);
          margin-bottom: 0.1875rem; }
          @media (min-width: 600px) {
            .header .header-right .categories .category__number {
              font-size: var(--font-size-category-number-small-tablet); } }
          @media (min-width: 900px) {
            .header .header-right .categories .category__number {
              font-size: var(--font-size-category-number-large-tablet); } }
        .header .header-right .categories .category__name {
          color: var(--gray);
          font-size: var(--font-size-date);
          font-weight: var(--font-weight-normal); }
          @media (min-width: 600px) {
            .header .header-right .categories .category__name {
              font-size: var(--font-size-date-small-tablet); } }
          @media (min-width: 900px) {
            .header .header-right .categories .category__name {
              font-size: var(--font-size-date-large-tablet); } }
    .header .header-right .percentage-of-done-tasks {
      align-items: center;
      bottom: 1rem;
      display: flex;
      justify-content: space-between;
      position: absolute; }
      @media (min-width: 600px) {
        .header .header-right .percentage-of-done-tasks {
          bottom: 1.5rem;
          left: 3.125rem; } }
      @media (min-width: 900px) {
        .header .header-right .percentage-of-done-tasks {
          bottom: 2rem;
          left: 4.6875rem; } }
      .header .header-right .percentage-of-done-tasks .pie-chart {
        background: conic-gradient(var(--secondary-color) 0% 64%, var(--secondary-color-dark) 64% 100%);
        border-radius: 50%;
        height: 1.5rem;
        margin-right: 0.5rem;
        position: relative;
        width: 1.5rem; }
        @media (min-width: 600px) {
          .header .header-right .percentage-of-done-tasks .pie-chart {
            height: 2rem;
            margin-right: 0.75rem;
            width: 2rem; } }
        @media (min-width: 900px) {
          .header .header-right .percentage-of-done-tasks .pie-chart {
            height: 3rem;
            margin-right: 1rem;
            width: 3rem; } }
        .header .header-right .percentage-of-done-tasks .pie-chart::before {
          background-color: black;
          border-radius: 50%;
          content: '';
          height: 1rem;
          left: 0.25rem;
          position: absolute;
          top: 0.25rem;
          width: 1rem; }
          @media (min-width: 600px) {
            .header .header-right .percentage-of-done-tasks .pie-chart::before {
              height: 1.25rem;
              left: 0.375rem;
              top: 0.375rem;
              width: 1.25rem; } }
          @media (min-width: 900px) {
            .header .header-right .percentage-of-done-tasks .pie-chart::before {
              height: 2rem;
              left: 0.5rem;
              top: 0.5rem;
              width: 2rem; } }
      .header .header-right .percentage-of-done-tasks__text {
        color: var(--gray);
        font-size: var(--font-size-date);
        font-weight: var(--font-weight-normal); }
        @media (min-width: 600px) {
          .header .header-right .percentage-of-done-tasks__text {
            font-size: var(--font-size-date-small-tablet); } }
        @media (min-width: 900px) {
          .header .header-right .percentage-of-done-tasks__text {
            font-size: var(--font-size-date-large-tablet); } }

.main {
  padding: 0.875rem 1.5rem 1.75rem; }
  @media (min-width: 414px) {
    .main {
      padding-top: 1.5rem; } }
  @media (min-width: 900px) {
    .main {
      padding: 3rem; } }
  @media (min-width: 1280px) {
    .main {
      display: none; } }
  .main__second-title {
    display: none; }
    @media (min-width: 1280px) {
      .main__second-title {
        display: block; } }
  .main__title, .main .tasks-done__text {
    font-size: var(--font-size-headers);
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .main__title, .main .tasks-done__text {
        font-size: var(--font-size-headers-small-tablet); } }
    @media (min-width: 900px) {
      .main__title, .main .tasks-done__text {
        font-size: var(--font-size-headers-large-tablet); } }
  .main .tasks-list {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0 1.75rem; }
    @media (min-width: 600px) {
      .main .tasks-list {
        margin: 1.5rem 0 1.5rem; } }
    @media (min-width: 900px) {
      .main .tasks-list {
        margin: 2.5rem 0 3rem; } }
  .main .task {
    border-bottom: 1px solid var(--blue-gray);
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
    padding-bottom: 1rem;
    margin-bottom: 0.75rem; }
    @media (min-width: 414px) {
      .main .task {
        margin-bottom: 1.25rem;
        padding-bottom: 1.25rem; } }
    @media (min-width: 600px) {
      .main .task {
        border-bottom: 2px solid var(--blue-gray);
        grid-column-gap: 7.25rem;
        grid-row-gap: 1rem;
        margin-bottom: 1.5rem;
        padding-bottom: 1.375rem; } }
    @media (min-width: 900px) {
      .main .task {
        margin-bottom: 3rem;
        padding-bottom: calc(1.625rem - 2px); } }
    .main .task:last-child {
      margin-bottom: 0; }
    .main .task .task-logo {
      border: 1px solid var(--blue-gray);
      border-radius: 50%;
      height: 3rem;
      position: relative;
      width: 3rem;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      z-index: -1; }
      @media (min-width: 600px) {
        .main .task .task-logo {
          height: 3.625rem;
          width: 3.625rem; } }
      @media (min-width: 900px) {
        .main .task .task-logo {
          height: 5rem;
          width: 5rem; } }
      .main .task .task-logo__image {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%); }
        .main .task .task-logo__image--large {
          width: var(--svg-width-large); }
          @media (min-width: 600px) {
            .main .task .task-logo__image--large {
              width: var(--svg-width-large-small-tablet); } }
          @media (min-width: 900px) {
            .main .task .task-logo__image--large {
              width: var(--svg-width-large-large-tablet); } }
        .main .task .task-logo__image--small {
          width: var(--svg-width-small); }
          @media (min-width: 600px) {
            .main .task .task-logo__image--small {
              width: var(--svg-width-small-small-tablet); } }
          @media (min-width: 900px) {
            .main .task .task-logo__image--small {
              width: var(--svg-width-small-large-tablet); } }
    .main .task__title {
      font-size: var(--font-size-headers);
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-top: 0.375rem; }
      @media (min-width: 600px) {
        .main .task__title {
          font-size: var(--font-size-headers-small-tablet); } }
      @media (min-width: 900px) {
        .main .task__title {
          font-size: var(--font-size-headers-large-tablet); } }
    .main .task__date, .main .task__time {
      color: var(--gray);
      font-size: var(--font-size-date); }
      @media (min-width: 600px) {
        .main .task__date, .main .task__time {
          font-size: var(--font-size-date-small-tablet); } }
      @media (min-width: 900px) {
        .main .task__date, .main .task__time {
          font-size: var(--font-size-date-large-tablet); } }
    .main .task__date {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .main .task__time {
      justify-self: end;
      grid-column: 3 / 4;
      grid-row: 1 / 3;
      margin-top: 0.375rem; }
  .main .tasks-done {
    align-items: center;
    display: flex; }
    .main .tasks-done__text {
      margin-right: 0.75rem; }
      @media (min-width: 600px) {
        .main .tasks-done__text {
          margin-right: 1rem; } }
      @media (min-width: 900px) {
        .main .tasks-done__text {
          margin-right: 1.625rem; } }
    .main .tasks-done__number {
      background-color: var(--secondary-color);
      border-radius: 50%;
      font-size: var(--font-size-date);
      height: 1.375rem;
      padding-top: 0.3rem;
      box-shadow: var(--shadow);
      width: 1.375rem;
      text-align: center; }
      @media (min-width: 600px) {
        .main .tasks-done__number {
          font-size: var(--font-size-date-small-tablet);
          height: 2rem;
          padding-top: 0.55rem;
          width: 2rem; } }
      @media (min-width: 900px) {
        .main .tasks-done__number {
          font-size: var(--font-size-date-large-tablet);
          height: 3rem;
          padding-top: 0.75rem;
          width: 3rem; } }
  .main .add-task-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    bottom: 1.75rem;
    box-shadow: var(--shadow);
    color: white;
    height: 3rem;
    position: absolute;
    right: 1.5rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    width: 3rem; }
    .main .add-task-button::before {
      content: '+';
      font-size: var(--font-size-add-button);
      font-weight: var(--font-weight-light);
      line-height: 1;
      position: absolute;
      right: 14px;
      top: 6px; }
      @media (min-width: 600px) {
        .main .add-task-button::before {
          font-size: var(--font-size-title-small-tablet);
          right: 18px; } }
      @media (min-width: 900px) {
        .main .add-task-button::before {
          font-size: var(--font-size-title-large-tablet);
          right: 26px;
          top: 10px; } }
      @media (min-width: 1280px) {
        .main .add-task-button::before {
          content: 'DODAJ ZADANIE';
          font-size: var(--font-size-date-small-tablet);
          font-weight: var(--font-weight-bold);
          left: 50%;
          top: 50%;
          transform: translate(-50%, calc(-50% + 1px));
          width: 100%; } }
    @media (min-width: 1280px) {
      .main .add-task-button:hover {
        background-color: var(--primary-color);
        color: var(--blue-gray); } }
    @media (min-width: 600px) {
      .main .add-task-button {
        height: 4rem;
        width: 4rem; } }
    @media (min-width: 900px) {
      .main .add-task-button {
        bottom: 3rem;
        font-size: var(--font-size-title-large-tablet);
        height: 6rem;
        right: 3rem;
        width: 6rem; } }
    @media (min-width: 1280px) {
      .main .add-task-button {
        background-color: var(--blue-gray);
        border-radius: 0.5rem;
        box-shadow: none;
        color: var(--primary-color);
        cursor: pointer;
        height: 3rem;
        left: 4.75rem;
        right: 0;
        width: 13rem; } }

.menu {
  backdrop-filter: blur(50px);
  background-color: var(--primary-color-menu);
  box-shadow: var(--shadow-mobile-menu);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 4.625rem 3rem;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  width: 74%; }
  @media (min-width: 600px) {
    .menu {
      padding: 6.125rem 4.875rem; } }
  @media (min-width: 900px) {
    .menu {
      padding: 5.3125rem 3rem; } }
  @media (min-width: 1280px) {
    .menu {
      backdrop-filter: none;
      background-image: linear-gradient(to bottom, var(--primary-color), transparent);
      display: flex;
      grid-row: 2 / 4;
      margin-left: 2.75rem;
      padding: 0;
      position: relative;
      transform: translateX(0);
      width: 17rem; } }
  @media (min-width: 1440px) {
    .menu {
      margin-left: 0; } }
  .menu .title-wrapper {
    display: none; }
    @media (min-width: 1280px) {
      .menu .title-wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 3rem 0 0 0;
        width: 100%; } }
    .menu .title-wrapper__text {
      font-size: var(--font-size-headers-small-tablet);
      text-transform: uppercase;
      margin-top: 1px; }
  .menu.menu-open {
    transform: translateX(0); }
  .menu .subtitle-wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto; }
    @media (min-width: 1280px) {
      .menu .subtitle-wrapper {
        background-color: var(--blue-gray);
        height: 4.5rem;
        justify-content: center;
        margin: 2rem 0 0 0;
        width: 100%; } }
    .menu .subtitle-wrapper__icon {
      height: 1.5rem;
      margin-right: 0.875rem;
      width: 1.5rem; }
      @media (min-width: 600px) {
        .menu .subtitle-wrapper__icon {
          height: 2rem;
          margin-right: 1rem;
          width: auto; } }
      @media (min-width: 900px) {
        .menu .subtitle-wrapper__icon {
          height: 2.5rem;
          margin-right: 1.5rem; } }
      @media (min-width: 1280px) {
        .menu .subtitle-wrapper__icon {
          height: 1.625rem;
          width: auto; } }
    .menu .subtitle-wrapper__text {
      font-size: var(--font-size-add-task-title);
      text-transform: uppercase;
      margin-top: 1px; }
      @media (min-width: 600px) {
        .menu .subtitle-wrapper__text {
          font-size: var(--font-size-add-task-title-small-tablet); } }
      @media (min-width: 900px) {
        .menu .subtitle-wrapper__text {
          font-size: var(--font-size-category-number-small-tablet); } }
      @media (min-width: 1280px) {
        .menu .subtitle-wrapper__text {
          color: var(--primary-color);
          font-size: var(--font-size-headers-small-tablet);
          font-weight: var(--font-weight-bold); } }
  .menu .category-list {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 4rem; }
    @media (min-width: 600px) {
      .menu .category-list {
        margin: 2rem 0 3rem; } }
    @media (min-width: 900px) {
      .menu .category-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: max-content;
        row-gap: 4.25rem;
        margin: 4rem 0 6rem; } }
    @media (min-width: 1280px) {
      .menu .category-list {
        display: flex;
        margin: 2.5rem 0 0 0;
        padding: 0 3.25rem;
        row-gap: 0; } }
    .menu .category-list .category {
      align-items: center;
      display: flex;
      margin-bottom: 1rem; }
      @media (min-width: 600px) {
        .menu .category-list .category {
          margin-bottom: 1.125rem; } }
      @media (min-width: 900px) {
        .menu .category-list .category {
          flex-direction: column;
          grid-row: 2 / 3;
          margin: 0; } }
      @media (min-width: 1280px) {
        .menu .category-list .category {
          flex-direction: row;
          margin-bottom: 1rem; } }
      .menu .category-list .category:first-child {
        color: var(--blue-gray);
        margin-left: 1.125rem; }
        @media (min-width: 900px) {
          .menu .category-list .category:first-child {
            justify-content: center;
            display: flex;
            flex-direction: row;
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            margin-left: 0; } }
        @media (min-width: 1280px) {
          .menu .category-list .category:first-child {
            margin-left: 1.125rem; } }
        @media (min-width: 900px) {
          .menu .category-list .category:first-child .category__name {
            margin: 0 1.25rem 0 0; } }
      .menu .category-list .category:last-child {
        margin-bottom: 0; }
      .menu .category-list .category__icon {
        display: none; }
        @media (min-width: 900px) {
          .menu .category-list .category__icon {
            display: block;
            height: 2.5rem; } }
        @media (min-width: 1280px) {
          .menu .category-list .category__icon {
            display: none; } }
      .menu .category-list .category__dot {
        border-radius: 50%;
        height: 0.375rem;
        margin-right: 0.75rem;
        width: 0.375rem; }
        @media (min-width: 600px) {
          .menu .category-list .category__dot {
            height: 0.5rem;
            width: 0.5rem; } }
        @media (min-width: 900px) {
          .menu .category-list .category__dot {
            display: none; } }
        @media (min-width: 1280px) {
          .menu .category-list .category__dot {
            display: block; } }
        .menu .category-list .category__dot--orange {
          background-color: var(--category-recreation-color); }
        .menu .category-list .category__dot--yellow {
          background-color: var(--category-technology-color); }
        .menu .category-list .category__dot--red {
          background-color: var(--category-personal-color); }
        .menu .category-list .category__dot--green {
          background-color: var(--category-food-color); }
      .menu .category-list .category__name {
        font-size: var(--font-size-headers);
        font-weight: var(--font-weight-normal); }
        @media (min-width: 600px) {
          .menu .category-list .category__name {
            font-size: var(--font-size-headers-small-tablet); } }
        @media (min-width: 900px) {
          .menu .category-list .category__name {
            font-size: var(--font-size-date-large-tablet);
            margin-bottom: 0.75rem;
            margin-top: 1rem; } }
        @media (min-width: 1280px) {
          .menu .category-list .category__name {
            font-size: var(--font-size-date-small-tablet);
            margin: 0; } }
      .menu .category-list .category__pill {
        background-color: var(--gray);
        border-radius: 0.875rem;
        color: var(--primary-color);
        font-size: var(--font-size-headers);
        font-weight: var(--font-weight-bold);
        height: 1rem;
        line-height: 1.25;
        margin-left: auto;
        text-align: center;
        width: 2.5rem; }
        @media (min-width: 600px) {
          .menu .category-list .category__pill {
            font-size: var(--font-size-date-small-tablet);
            height: 1.25rem;
            line-height: 1.4;
            width: 2.5rem; } }
        @media (min-width: 900px) {
          .menu .category-list .category__pill {
            border-radius: 0.9375rem;
            margin-left: 0;
            font-size: var(--font-size-date-large-tablet);
            height: 2rem;
            line-height: 1.4;
            width: 3.75rem; } }
        @media (min-width: 1280px) {
          .menu .category-list .category__pill {
            font-size: var(--font-size-headers);
            height: 1.125rem;
            line-height: 1.4;
            margin-left: auto;
            width: 2.55rem; } }
  .menu .calendar-category-list {
    margin: 2rem auto 0; }
    @media (min-width: 900px) {
      .menu .calendar-category-list {
        margin-top: 2.625rem;
        text-align: center; } }
    @media (min-width: 1280px) {
      .menu .calendar-category-list {
        margin-top: 2.5rem;
        text-align: left; } }
    .menu .calendar-category-list__year, .menu .calendar-category-list__month, .menu .calendar-category-list__day {
      font-size: var(--font-size-headers);
      font-weight: var(--font-weight-normal);
      margin-bottom: 1rem; }
      @media (min-width: 1280px) {
        .menu .calendar-category-list__year:last-child, .menu .calendar-category-list__month:last-child, .menu .calendar-category-list__day:last-child {
          margin-bottom: 0; } }
      @media (min-width: 600px) {
        .menu .calendar-category-list__year, .menu .calendar-category-list__month, .menu .calendar-category-list__day {
          font-size: var(--font-size-headers-small-tablet);
          margin-bottom: 1.125rem; } }
      @media (min-width: 900px) {
        .menu .calendar-category-list__year, .menu .calendar-category-list__month, .menu .calendar-category-list__day {
          font-size: var(--font-size-date-large-tablet);
          margin-bottom: 2rem; } }
      @media (min-width: 1280px) {
        .menu .calendar-category-list__year, .menu .calendar-category-list__month, .menu .calendar-category-list__day {
          font-size: var(--font-size-date-small-tablet);
          margin-bottom: 1rem; } }
    .menu .calendar-category-list .year, .menu .calendar-category-list .month, .menu .calendar-category-list .day, .menu .calendar-category-list .day-of-week {
      color: var(--blue-gray);
      font-weight: var(--font-weight-bold); }
  .menu .desktop-add-task-button {
    display: none; }
    @media (min-width: 1280px) {
      .menu .desktop-add-task-button {
        background-color: var(--blue-gray);
        border: none;
        border-radius: 0.5rem;
        color: var(--primary-color);
        cursor: pointer;
        display: block;
        font-weight: var(--font-weight-bold);
        height: 3rem;
        margin: 8rem auto 0;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        width: 13rem; } }
    .menu .desktop-add-task-button:hover {
      background-color: transparent;
      border: 1px solid var(--blue-gray);
      color: var(--blue-gray); }

.add-task {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: 1.5rem 2rem 4rem;
  position: absolute;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
  width: 100%;
  z-index: 2; }
  @media (min-width: 900px) {
    .add-task {
      padding: 2rem; } }
  @media (min-width: 1280px) {
    .add-task {
      display: none; } }
  .add-task.open {
    transform: translateX(0); }
  .add-task__back-button {
    background-color: transparent;
    border: none;
    height: 1rem;
    padding: 0;
    position: absolute; }
    .add-task__back-button img {
      width: 0.875rem; }
      @media (min-width: 414px) {
        .add-task__back-button img {
          width: 1rem; } }
      @media (min-width: 600px) {
        .add-task__back-button img {
          height: 1.5rem;
          width: auto; } }
      @media (min-width: 900px) {
        .add-task__back-button img {
          height: 2rem; } }
  .add-task__title {
    font-size: var(--font-size-add-task-title);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 414px) {
      .add-task__title {
        font-size: var(--font-size-add-task-title-small-mobile); } }
    @media (min-width: 600px) {
      .add-task__title {
        font-size: var(--font-size-add-task-title-small-tablet); } }
    @media (min-width: 900px) {
      .add-task__title {
        font-size: var(--font-size-add-task-title-large-tablet);
        margin-top: 2rem; } }
  .add-task__category-icon {
    border: 1px solid var(--blue-gray);
    border-radius: 50%;
    height: 3rem;
    margin: 2.5rem auto 0;
    position: relative;
    width: 3rem; }
    @media (min-width: 414px) {
      .add-task__category-icon {
        height: 3.375rem;
        margin: 3rem auto 0;
        width: 3.375rem; } }
    @media (min-width: 600px) {
      .add-task__category-icon {
        height: 4.5rem;
        margin: 4rem auto 0;
        width: 4.5rem; } }
    @media (min-width: 900px) {
      .add-task__category-icon {
        border: 2px solid var(--blue-gray);
        height: 7.5rem;
        margin: 6rem auto 0;
        width: 7.5rem; } }
    .add-task__category-icon img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem; }
      @media (min-width: 414px) {
        .add-task__category-icon img {
          width: 1.625rem; } }
      @media (min-width: 600px) {
        .add-task__category-icon img {
          width: 2.375rem; } }
      @media (min-width: 900px) {
        .add-task__category-icon img {
          width: 3.75rem; } }
  .add-task .categories-list {
    margin-top: 4rem; }
    @media (min-width: 414px) {
      .add-task .categories-list {
        margin-top: 4rem; } }
    @media (min-width: 600px) {
      .add-task .categories-list {
        padding: 0 1.5rem; } }
    @media (min-width: 900px) {
      .add-task .categories-list {
        margin-top: 6rem;
        padding: 0 calc(150px - 2rem); } }
    .add-task .categories-list .category {
      align-items: center;
      border-bottom: 1px solid var(--blue-gray);
      display: flex;
      margin-bottom: calc(1.5rem - 1px);
      padding-bottom: 0.625rem; }
      @media (min-width: 600px) {
        .add-task .categories-list .category {
          border-bottom: 2px solid var(--blue-gray);
          margin-bottom: calc(2rem - 2px);
          padding-bottom: 1.125rem; } }
      @media (min-width: 900px) {
        .add-task .categories-list .category {
          padding-bottom: 1.5rem;
          margin-bottom: calc(3rem - 2px); } }
      @media (min-width: 1280px) {
        .add-task .categories-list .category {
          flex-direction: row;
          margin-bottom: 1rem; } }
      .add-task .categories-list .category:last-child {
        margin-bottom: 0; }
      .add-task .categories-list .category__label {
        line-height: 1.1;
        margin-left: auto; }
      .add-task .categories-list .category__radio-input {
        appearance: none;
        border: 1px solid white;
        border-radius: 50%;
        display: grid;
        height: 0.75rem;
        margin: 0;
        place-content: center;
        width: 0.75rem; }
        @media (min-width: 600px) {
          .add-task .categories-list .category__radio-input {
            height: 1rem;
            width: 1rem; } }
        @media (min-width: 900px) {
          .add-task .categories-list .category__radio-input {
            height: 1.5rem;
            width: 1.5rem; } }
        .add-task .categories-list .category__radio-input::before {
          box-shadow: inset 6px 6px var(--blue-gray);
          border-radius: 50%;
          content: "";
          height: 0.375rem;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          width: 0.375rem; }
          @media (min-width: 600px) {
            .add-task .categories-list .category__radio-input::before {
              box-shadow: inset 10px 10px var(--blue-gray);
              width: 0.5rem;
              height: 0.5rem; } }
          @media (min-width: 900px) {
            .add-task .categories-list .category__radio-input::before {
              height: 0.75rem;
              width: 0.75rem; } }
        .add-task .categories-list .category__radio-input:checked::before {
          transform: scale(1); }
      .add-task .categories-list .category__color-dot {
        border-radius: 50%;
        height: 0.375rem;
        margin-left: 0.375rem;
        width: 0.375rem; }
        @media (min-width: 600px) {
          .add-task .categories-list .category__color-dot {
            height: 0.5rem;
            margin-left: 1rem;
            width: 0.5rem; } }
        @media (min-width: 900px) {
          .add-task .categories-list .category__color-dot {
            height: 0.75rem;
            width: 0.75rem; } }
        @media (min-width: 1280px) {
          .add-task .categories-list .category__color-dot {
            display: block;
            height: 0.625rem;
            margin-right: 0.5rem;
            width: 0.625rem; } }
        .add-task .categories-list .category__color-dot--orange {
          background-color: var(--category-recreation-color); }
        .add-task .categories-list .category__color-dot--yellow {
          background-color: var(--category-technology-color); }
        .add-task .categories-list .category__color-dot--red {
          background-color: var(--category-personal-color); }
        .add-task .categories-list .category__color-dot--green {
          background-color: var(--category-food-color); }
      .add-task .categories-list .category__name {
        font-size: var(--font-size-headers);
        font-weight: var(--font-weight-normal); }
        @media (min-width: 600px) {
          .add-task .categories-list .category__name {
            font-size: var(--font-size-headers-small-tablet); } }
        @media (min-width: 900px) {
          .add-task .categories-list .category__name {
            font-size: var(--font-size-headers-large-tablet); } }
        @media (min-width: 1280px) {
          .add-task .categories-list .category__name {
            font-size: var(--font-size-date-small-tablet);
            margin: 0; } }
  .add-task .form {
    display: grid;
    grid-template-rows: max-content;
    margin-top: 2rem; }
    @media (min-width: 414px) {
      .add-task .form {
        margin-top: 4rem; } }
    @media (min-width: 600px) {
      .add-task .form {
        margin-top: 3.5rem;
        padding: 0 1.5rem; } }
    @media (min-width: 900px) {
      .add-task .form {
        margin-top: 4.5rem;
        padding: 0 calc(150px - 2rem); } }
    .add-task .form__label {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-headers);
      font-weight: var(--font-weight-normal); }
      @media (min-width: 600px) {
        .add-task .form__label {
          font-size: var(--font-size-headers-small-tablet); } }
      @media (min-width: 900px) {
        .add-task .form__label {
          font-size: var(--font-size-headers-large-tablet); } }
    .add-task .form__input {
      background-color: var(--blue-gray);
      border: none;
      border-radius: 0.1875rem;
      color: var(--primary-color);
      font-size: var(--font-size-headers);
      font-weight: var(--font-weight-bold);
      height: 2rem;
      margin-top: 0.625rem;
      padding: 0 1rem; }
      @media (min-width: 600px) {
        .add-task .form__input {
          font-size: var(--font-size-date-small-tablet);
          height: 3rem;
          margin-top: 1rem; } }
      @media (min-width: 900px) {
        .add-task .form__input {
          border-radius: 0.375rem;
          font-size: var(--font-size-headers-small-tablet);
          height: 4rem;
          margin-top: 1.125rem; } }
    .add-task .form__add-task-button {
      background-color: var(--secondary-color);
      border: none;
      border-radius: 0.3125rem;
      color: white;
      font-size: var(--font-size-add-task-title);
      height: 4rem;
      margin-top: 4rem;
      text-transform: uppercase; }
      @media (min-width: 600px) {
        .add-task .form__add-task-button {
          border-radius: 0.375rem;
          height: 6rem;
          font-size: var(--font-size-add-task-title-small-tablet);
          margin-top: 3.5rem; } }
      @media (min-width: 900px) {
        .add-task .form__add-task-button {
          border-radius: 0.625rem;
          height: 8rem;
          font-size: var(--font-size-category-number-small-tablet);
          margin-top: 4.875rem; } }

.desktop-top-bar {
  display: none; }
  @media (min-width: 1280px) {
    .desktop-top-bar {
      background-color: var(--primary-color);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      display: flex;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      height: 7rem;
      place-content: center;
      place-items: center;
      z-index: 3;
      width: 100%; }
      .desktop-top-bar__title {
        font-size: var(--font-size-title-small-desktop);
        font-weight: var(--font-weight-bold); } }

.desktop-main {
  display: none; }
  @media (min-width: 1280px) {
    .desktop-main {
      display: grid;
      grid-column-gap: 2.5rem;
      grid-template-columns: 1fr 1fr;
      padding: 6.75rem 2.75rem 0 0; }
      .desktop-main .desktop-tasks-todo-and-done {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        transform: translateX(calc(50% + 1.125rem));
        transition: transform 0.25s ease-in-out 0.5s; }
        .desktop-main .desktop-tasks-todo-and-done .desktop-task-logo {
          background-color: white;
          border-radius: 50%;
          height: 2rem;
          margin-right: 0.75rem;
          position: relative;
          width: 2rem; }
          .desktop-main .desktop-tasks-todo-and-done .desktop-task-logo__image {
            filter: invert(44%) sepia(10%) saturate(2640%) hue-rotate(156deg) brightness(91%) contrast(89%);
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 0.875rem; }
        .desktop-main .desktop-tasks-todo-and-done .task__title {
          font-size: var(--font-size-add-task-title); }
        .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-todo {
          background-color: var(--primary-color);
          border-top-left-radius: 1.25rem;
          border-top-right-radius: 1.25rem;
          height: 25.75rem;
          padding: 1.625rem 2rem; }
          .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-todo__title {
            color: var(--gray);
            font-size: var(--font-size-title-tasks-small-desktop);
            text-transform: uppercase; }
          .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-todo .desktop-tasks-todo-list {
            margin-top: 2rem; }
          .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-todo .desktop-task-todo {
            align-items: center;
            border: 1px solid var(--secondary-color);
            border-radius: 0.375rem;
            cursor: pointer;
            display: flex;
            height: 3.5rem;
            padding: 0.75rem 1rem;
            margin-bottom: 1.5rem; }
            .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-todo .desktop-task-todo:focus {
              background-color: var(--secondary-color); }
        .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-done {
          background-image: linear-gradient(to bottom, var(--secondary-color), transparent);
          border-top-left-radius: 1.25rem;
          border-top-right-radius: 1.25rem;
          height: 21.5rem;
          margin-top: -1.75rem;
          padding: 2rem; }
          .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-done__title {
            color: var(--gray);
            font-size: var(--font-size-title-tasks-small-desktop);
            text-transform: uppercase; }
          .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-done .desktop-tasks-done-list {
            margin-top: 2rem; }
          .desktop-main .desktop-tasks-todo-and-done .desktop-tasks-done .desktop-task-done {
            align-items: center;
            border: 1px solid var(--secondary-color);
            border-radius: 0.375rem;
            cursor: pointer;
            display: flex;
            height: 3.5rem;
            opacity: 30%;
            padding: 0.75rem 1rem;
            margin-bottom: 1.5rem; }
      .desktop-main .desktop-task-details, .desktop-main .desktop-add-task {
        background-image: linear-gradient(to bottom, var(--primary-color), transparent);
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        height: 45.5rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding: 1.625rem 2rem;
        transition: transform 0.25s ease-in-out 0.25s; }
        .desktop-main .desktop-task-details__title, .desktop-main .desktop-add-task__title {
          color: var(--gray);
          font-size: var(--font-size-title-tasks-small-desktop);
          font-weight: var(--font-weight-bold);
          text-decoration: underline; }
        .desktop-main .desktop-task-details__subtitle, .desktop-main .desktop-add-task__subtitle {
          color: var(--blue-gray);
          font-size: var(--font-size-add-task-title-small-mobile);
          font-weight: var(--font-weight-bold);
          margin-top: 2.75rem; }
        .desktop-main .desktop-task-details__task-title, .desktop-main .desktop-add-task__task-title {
          font-size: var(--font-size-title2-small-desktop);
          font-weight: var(--font-weight-bold);
          margin-top: 0.875rem; }
        .desktop-main .desktop-task-details .dot, .desktop-main .desktop-add-task .dot {
          background-color: var(--category-recreation-color);
          border-radius: 50%;
          grid-row: 2 / 3;
          height: 0.625rem;
          width: 0.625rem; }
        .desktop-main .desktop-task-details .desktop-type-of-task, .desktop-main .desktop-add-task .desktop-type-of-task {
          align-items: center;
          display: grid;
          grid-template-columns: min-content max-content;
          grid-template-rows: max-content max-content;
          grid-column-gap: 0.5rem;
          grid-row-gap: 0.75rem;
          margin-top: 4.875rem; }
          .desktop-main .desktop-task-details .desktop-type-of-task:nth-child(5), .desktop-main .desktop-task-details .desktop-type-of-task:nth-child(6), .desktop-main .desktop-add-task .desktop-type-of-task:nth-child(5), .desktop-main .desktop-add-task .desktop-type-of-task:nth-child(6) {
            margin-top: 2.5rem; }
          .desktop-main .desktop-task-details .desktop-type-of-task .desktop-task-details__subtitle, .desktop-main .desktop-add-task .desktop-type-of-task .desktop-task-details__subtitle {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            margin-top: 0; }
          .desktop-main .desktop-task-details .desktop-type-of-task__text, .desktop-main .desktop-add-task .desktop-type-of-task__text {
            font-size: var(--font-size-add-task-title); }
          .desktop-main .desktop-task-details .desktop-type-of-task__date, .desktop-main .desktop-task-details .desktop-type-of-task__time, .desktop-main .desktop-add-task .desktop-type-of-task__date, .desktop-main .desktop-add-task .desktop-type-of-task__time {
            grid-column: 1 / -1; }
        .desktop-main .desktop-task-details__modify-button, .desktop-main .desktop-add-task__modify-button {
          background-color: var(--secondary-color);
          border: none;
          border-radius: 0.5rem;
          color: white;
          cursor: pointer;
          font-weight: var(--font-weight-bold);
          height: 3.5rem;
          margin: 9.6875rem auto 0;
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;
          width: 100%; }
          .desktop-main .desktop-task-details__modify-button:hover, .desktop-main .desktop-add-task__modify-button:hover {
            background-color: transparent;
            border: 1px solid var(--secondary-color);
            color: var(--blue-gray); }
      .desktop-main .desktop-task-details {
        transform: translateY(150%); }
      .desktop-main .desktop-add-task {
        transform: translateX(150%); }
      .desktop-main .show-details {
        transform: translateY(0%);
        transition: transform 0.25s ease-in-out 0.5s; }
      .desktop-main .show-add-task {
        transform: translateX(0%);
        transition: transform 0.25s ease-in-out 0.5s; }
      .desktop-main .desktop-add-task .desktop-form {
        margin: 2.875rem 0 12.25rem; }
        .desktop-main .desktop-add-task .desktop-form__label, .desktop-main .desktop-add-task .desktop-form .desktop-form-categories__task-type {
          color: var(--blue-gray);
          display: flex;
          flex-direction: column;
          font-size: var(--font-size-headers-small-tablet);
          font-weight: var(--font-weight-bold); }
        .desktop-main .desktop-add-task .desktop-form__input {
          background-color: var(--blue-gray);
          border: 0;
          border-radius: 0.375rem;
          font-size: var(--font-size-add-task-title);
          height: 3.5rem;
          margin-top: 0.75rem;
          padding: 0.75rem 1rem; }
        .desktop-main .desktop-add-task .desktop-form__category-icon {
          border: 2px solid var(--blue-gray);
          border-radius: 50%;
          height: 4rem;
          margin: 2.5rem auto;
          position: relative;
          width: 4rem; }
          .desktop-main .desktop-add-task .desktop-form__category-icon img {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1.75rem; }
        .desktop-main .desktop-add-task .desktop-form .desktop-form-categories {
          display: flex;
          flex-direction: column;
          margin-bottom: 12.25rem; }
        .desktop-main .desktop-add-task .desktop-form .desktop-form-categories-list {
          display: grid;
          grid-column-gap: 5.875rem;
          grid-row-gap: 0.875rem;
          grid-template-columns: 1fr 1fr;
          margin-top: 1.5rem; }
        .desktop-main .desktop-add-task .desktop-form .desktop-form-category {
          align-items: center;
          display: flex; }
          .desktop-main .desktop-add-task .desktop-form .desktop-form-category__color-dot {
            border-radius: 50%;
            height: 0.625rem;
            margin-right: 0.5rem;
            width: 0.625rem; }
            .desktop-main .desktop-add-task .desktop-form .desktop-form-category__color-dot--orange {
              background-color: var(--category-recreation-color); }
            .desktop-main .desktop-add-task .desktop-form .desktop-form-category__color-dot--yellow {
              background-color: var(--category-technology-color); }
            .desktop-main .desktop-add-task .desktop-form .desktop-form-category__color-dot--red {
              background-color: var(--category-personal-color); }
            .desktop-main .desktop-add-task .desktop-form .desktop-form-category__color-dot--green {
              background-color: var(--category-food-color); }
          .desktop-main .desktop-add-task .desktop-form .desktop-form-category__name {
            font-size: var(--font-size-add-task-title); }
          .desktop-main .desktop-add-task .desktop-form .desktop-form-category__label {
            line-height: 1.1;
            margin-left: auto; }
          .desktop-main .desktop-add-task .desktop-form .desktop-form-category__radio-input {
            appearance: none;
            border: 2px solid var(--blue-gray);
            border-radius: 50%;
            cursor: pointer;
            display: grid;
            height: 1.125rem;
            margin: 0;
            place-content: center;
            width: 1.125rem; }
            .desktop-main .desktop-add-task .desktop-form .desktop-form-category__radio-input:checked::before {
              transform: scale(1); }
            .desktop-main .desktop-add-task .desktop-form .desktop-form-category__radio-input::before {
              box-shadow: inset 10px 10px var(--blue-gray);
              border-radius: 50%;
              content: "";
              height: 0.5rem;
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              width: 0.5rem; }
        .desktop-main .desktop-add-task .desktop-form__add-task-button {
          background-color: var(--secondary-color);
          border: none;
          border-radius: 0.5rem;
          color: white;
          cursor: pointer;
          font-weight: var(--font-weight-bold);
          height: 3.5rem;
          text-transform: uppercase;
          width: 100%; }
          .desktop-main .desktop-add-task .desktop-form__add-task-button:hover {
            background-color: transparent;
            border: 2px solid var(--secondary-color);
            color: var(--secondary-color); } }
  @media (min-width: 1440px) {
    .desktop-main {
      padding-right: 0; } }
