<div class='header-left'>
  <button class='mobile-hamburger-menu'>
    <span class='mobile-hamburger-menu__bar'></span>
    <span
      class='mobile-hamburger-menu__bar mobile-hamburger-menu__bar--short'></span>
    <span class='mobile-hamburger-menu__bar'></span>
  </button>
  <h1 class='header-left__title'>Zadania do&nbsp;zrobienia</h1>
  <span class='header-left__date'>{{ date.day }} {{ date.month }}, {{ date.year }}</span>
  <hr class='header-left__horizontal-line'>
</div>