<div class='header-right'>
  <ul class='categories'>
    <li class='category'>
      <span class='category__number'>8</span>
      <span class='category__name'>rekreacja</span>
    </li>
    <li class='category'>
      <span class='category__number'>11</span>
      <span class='category__name'>tech</span>
    </li>
    <li class='category'>
      <span class='category__number'>12</span>
      <span class='category__name'>osobiste</span>
    </li>
    <li class='category'>
      <span class='category__number'>5</span>
      <span class='category__name'>jedzenie</span>
    </li>
  </ul>
  <div class='percentage-of-done-tasks'>
    <div class='pie-chart'></div>
    <span class='percentage-of-done-tasks__text'>63% zrobione</span>
  </div>
</div>