*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--font-primary-color);
  display: grid;
  font-family: var(--font-family);
  grid-template-rows: max-content;
  line-height: 1;
  min-height: 100vh;
  overflow: hidden;

  @include for-desktop-up {
    background-image: url('../images/mountains.jpg');
    background-position: -870px -630px;
    background-repeat: no-repeat;
    background-size: 2970px;
    column-gap: 2.5rem;
    grid-template-columns: 19.75rem 1fr;
  }

  @include for-desktop-large {
    padding: 0 calc(50vw - 720px);
    grid-template-columns: 19rem auto;
  }
}