*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--font-primary-color);
  display: grid;
  font-family: var(--font-family);
  grid-template-rows: max-content;
  line-height: 1;
  min-height: 100vh;
}