.desktop-top-bar {
  display: none;

  @include for-desktop-up {
    background-color: var(--primary-color);
    box-shadow: 0 4px 10px hsla(0, 0, 0, 0.15);
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 7rem;
    place-content: center;
    place-items: center;
    z-index: 3;
    width: 100%;

    &__title {
      font-size: var(--font-size-title-small-desktop);
      font-weight: var(--font-weight-bold);
    }
  }

  //@include for-desktop-large {
  //  position: absolute;
  //  left: 0;
  //  width: 100%;
  //}
}

.desktop-main {
  display: none;

  @include for-desktop-up {
    display: grid;
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 6.75rem 2.75rem 0 0;

    .desktop-tasks-todo-and-done {
      display: flex;
      flex-direction: column;
      grid-column: 1 / 2;
      transform: translateX(calc(50% + 1.125rem));
      transition: transform 0.25s ease-in-out;

      .desktop-task-logo {
        background-color: white;
        border-radius: 50%;
        height: 2rem;
        margin-right: 0.75rem;
        position: relative;
        width: 2rem;

        &__image {
          //https://codepen.io/sosuke/pen/Pjoqqp
          filter: invert(44%) sepia(10%) saturate(2640%) hue-rotate(156deg) brightness(91%) contrast(89%);
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 0.875rem;
        }
      }

      .task__title {
        font-size: var(--font-size-add-task-title);
      }

      @import '../components/desktop-tasks-todo';
      @import '../components/desktop-tasks-done';
    }

    @import '../components/desktop-task-details';
    @import '../components/desktop-add-task';
  }

  @include for-desktop-large {
    padding-right: 0;
  }
}

