

.desktop-top-bar {
  display: none;

  @include for-desktop-up {
    background-color: var(--primary-color);
    box-shadow: 0 4px 10px hsla(0, 0, 0, 0.15);
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 7rem;
    place-content: center;
    place-items: center;
    z-index: 3;
    width: 100%;

    &__title {
      font-size: var(--font-size-title-small-desktop);
      font-weight: var(--font-weight-bold);
    }
  }
}

.desktop-title {
  display: none;

  @include for-desktop-up {
    display: block;
    font-size: var(--font-size-category-number-small-tablet);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 3rem;
  }
}