<section class='desktop-main'>
  <div class='desktop-tasks-todo-and-done'>
    {{> desktop/tasks-todo }}
    {{> desktop/tasks-done }}
  </div>

  {{> desktop/task-details }}
  {{> desktop/add-task }}
</section>