<div class='desktop-tasks-todo'>
  <h3 class='desktop-tasks-todo__title'>zadania do zrobienia</h3>
  <ul class='desktop-tasks-todo-list'>
    <li class='desktop-task-todo' tabindex="0">
      <div class='desktop-task-logo'>
        <img class='desktop-task-logo__image' src='images/laptop-code-solid.svg'
          alt='laptop icon'>
      </div>
      <span class='task__title'>Dokończyć aplikację To-Do</span>
    </li>
    <li class='desktop-task-todo' tabindex="0">
      <div class='desktop-task-logo'>
        <img class='desktop-task-logo__image' src='images/running-solid.svg'
          alt='running man icon'>
      </div>
      <span class='task__title'>Wyjść z psem na spacer</span>
    </li>
    <li class='desktop-task-todo' tabindex="0">
      <div class='desktop-task-logo'>
        <img class='desktop-task-logo__image' src='images/running-solid.svg'
          alt='running man icon'>
      </div>
      <span class='task__title'>Zacząć regularnie biegać</span>
    </li>
  </ul>
</div>