<div class='desktop-tasks-done'>
  <h3 class='desktop-tasks-done__title'>zadania zrobione</h3>

  <div class='desktop-percentage-of-done-tasks'>
    <div class='desktop-pie-chart'></div>
    <span class='desktop-percentage-of-done-tasks__text'>63%</span>
  </div>

  <ul class='desktop-tasks-done-list'>
    <li class='desktop-task-done'>
      <div class='desktop-task-logo'>
        <img class='desktop-task-logo__image' src='images/pizza-slice-solid.svg'
          alt='slice pizza icon'>
      </div>
      <span class='task__title'>Zjeść obiad</span>
    </li>

    <li class='desktop-task-done'>
      <div class='desktop-task-logo'>
        <img class='desktop-task-logo__image' src='images/user-tie-solid.svg'
          alt='user icon'>
      </div>
      <span class='task__title'>Sprawdzić pocztę</span>
    </li>
  </ul>

</div>