<div class='desktop-task-details'>
  <h3 class='desktop-task-details__title'>Szczegóły zadania</h3>
  <h4 class='desktop-task-details__subtitle'>Nazwa zadania</h4>
  <p class='desktop-task-details__task-title'></p>

  <div class='desktop-type-of-task'>
    <h4 class='desktop-task-details__subtitle'>Typ zadania</h4>
    <div class='dot'></div>
    <p class='desktop-type-of-task__text'></p>
  </div>

  <div class='desktop-type-of-task'>
    <h4 class='desktop-task-details__subtitle'>Data utworzenia zadania</h4>
    <p class='desktop-type-of-task__date'></p>
  </div>

  <div class='desktop-type-of-task'>
    <h4 class='desktop-task-details__subtitle'>Godzina utworzenia zadania</h4>
    <p class='desktop-type-of-task__time'></p>
  </div>

  <button class='desktop-task-details__modify-button'>modyfikuj zadanie</button>
</div>