.add-task {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: 1.5rem 2rem 4rem;
  position: absolute;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
  width: 100%;
  z-index: 2;

  &.open {
    transform: translateX(0);
  }

  &__back-button {
    background-color: transparent;
    border: none;
    height: 1rem;
    padding: 0;
    position: absolute;

    img {
      width: 0.875rem;

      @include for-phone {
        width: 1rem;
      }
    }
  }

  &__title {
    font-size: var(--font-size-add-task-title);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-transform: uppercase;

    @include for-phone {
      font-size: var(--font-size-add-task-title-small-mobile);
    }
  }

  &__category-icon {
    border: 1px solid var(--blue-gray);
    border-radius: 50%;
    height: 3rem;
    margin: 2.5rem auto 0;
    position: relative;
    width: 3rem;

    @include for-phone {
      height: 3.375rem;
      margin: 3rem auto 0;
      width: 3.375rem;
    }

    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;

      @include for-phone {
        width: 1.625rem;
      }
    }
  }

  .categories-list {
    margin-top: 4rem;
    list-style: none;

    @include for-phone {
      margin-top: 4.5rem;
    }

    @import '../components/category';
  }

  @import '../components/form';
}