.header {
  background-image: url('../images/mountains.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: 59.44% 40.56%;
}

.header-left {
  &__title {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-light);
    margin: 1.75rem 0 0 1.5rem;
  }
}


