.header {
  background-image: url('../images/mountains.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: 59.44% 40.56%;
  height: 13rem;
}

.header-left {
  position: relative;

  &__title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-light);
    line-height: 1;
    margin: 1.75rem 0 0 1.5rem;
  }

  &__date {
    color: var(--gray);
    display: block;
    font-size: var(--font-size-date);
    font-weight: var(--font-weight-normal);
    margin: 2.3rem 0 0 1.5rem;
  }

  &__horizontal-line {
    background-color: var(--secondary-color);
    border: none;
    bottom: 0;
    height: 0.25rem;
    margin: 0;
    position: absolute;
    width: 100%;
  }
}


