<main class='main'>
  <h2 class='main__title'>zadania</h2>
  {{> mobile/tasks-list }}

  <div class='tasks-done'>
    <span class='tasks-done__text'>skończone</span>
    <span class='tasks-done__number'>36</span>
  </div>

  <button class='add-task-button'></button>
</main>