<section class='menu'>
  <div class='title-wrapper'>
    <img src='images/home-solid.svg' alt='home icon'
      class='subtitle-wrapper__icon'>
    <h2 class='title-wrapper__text'>menu główne</h2>
  </div>
  <div class='subtitle-wrapper'>
    <img src='images/pencil-ruler-solid.svg' alt='pencil icon'
      class='subtitle-wrapper__icon'>
    <h2 class='subtitle-wrapper__text'>lista zadań</h2>
  </div>
  {{> mobile/categories-list }}
  <div class='subtitle-wrapper'>
    <img src='images/calendar-check-solid.svg' alt='calendar icon'
      class='subtitle-wrapper__icon'>
    <h2 class='subtitle-wrapper__text'>kalendarz</h2>
  </div>

  <ul class='calendar-category-list'>
    <li class='calendar-category-list__year'>
      Rok: <span class='year'>{{ date.year }}</span>
    </li>
    <li class='calendar-category-list__month'>
      Miesiąc: <span class='month'>{{ date.monthDesktop }}</span>
    </li>
    <li class='calendar-category-list__day'>
      Dzień: <span class='day'>{{ date.day }}, </span>
      <span class='day-of-week'>{{ date.dayOfWeek }}</span>
    </li>
  </ul>
  <button class='desktop-add-task-button' type='submit'>dodaj zadanie</button>
</section>