<ul class='tasks-list'>
  {{#each tasks}}
  <li class='task'>
    <div class='task-logo'>
      {{#if (equals this.category 'technologia')}}
        <img class='task-logo__image task-logo__image--large'
          src='images/laptop-code-solid.svg'
          alt='laptop icon'>
      {{/if}}
      {{#if (equals this.category 'rekreacja')}}
        <img class='task-logo__image task-logo__image--large'
          src='images/running-solid.svg'
          alt='laptop icon'>
      {{/if}}
      {{#if (equals this.category 'jedzenie')}}
        <img class='task-logo__image task-logo__image--large'
          src='images/pizza-slice-solid.svg'
          alt='laptop icon'>
      {{/if}}
      {{#if (equals this.category 'osobiste')}}
        <img class='task-logo__image task-logo__image--large'
          src='images/user-tie-solid.svg'
          alt='laptop icon'>
      {{/if}}
    </div>
    <span class='task__title'>{{ this.title }}</span>
    <span class='task__date'>{{ this.createdAt }}</span>
    <span class='task__time'>{{ this.time }}</span>
  </li>
  {{/each}}
</ul>