.add-task-button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  bottom: 1.75rem;
  box-shadow: var(--shadow);
  color: white;
  height: 3rem;
  position: absolute;
  right: 1.5rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 3rem;

  &::before {
    content: '+';
    font-size: var(--font-size-add-button);
    font-weight: var(--font-weight-light);
    line-height: 1;
    position: absolute;
    right: 14px;
    top: 6px;

    @include for-tablet-portrait-up {
      font-size: var(--font-size-title-small-tablet);
      right: 18px;
    }

    @include for-tablet-landscape-up {
      font-size: var(--font-size-title-large-tablet);
      right: 26px;
      top: 10px;
    }

    @include for-desktop-up {
      content: 'DODAJ ZADANIE';
      font-size: var(--font-size-date-small-tablet);
      font-weight: var(--font-weight-bold);
      left: 50%;
      top: 50%;
      transform: translate(-50%, calc(-50% + 1px));
      width: 100%;
    }
  }

  &:hover {
    @include for-desktop-up {
      background-color: var(--primary-color);
      color: var(--blue-gray);
    }
  }

  @include for-tablet-portrait-up {
    height: 4rem;
    width: 4rem;
  }

  @include for-tablet-landscape-up {
    bottom: 3rem;
    font-size: var(--font-size-title-large-tablet);
    height: 6rem;
    right: 3rem;
    width: 6rem;
  }

  @include for-desktop-up {
    background-color: var(--blue-gray);
    border-radius: 0.5rem;
    box-shadow: none;
    color: var(--primary-color);
    cursor: pointer;
    height: 3rem;
    left: 4.75rem;
    right: 0;
    width: 13rem;
  }
}