.desktop-add-task {

  .desktop-form {
    margin: 2.875rem 0 12.25rem;

    @include for-desktop-large {
      margin: 2.5rem 0 0;
    }

    &__label, .desktop-form-categories__task-type {
      color: var(--blue-gray);
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-headers-small-tablet);
      font-weight: var(--font-weight-bold);

      @include for-desktop-large {
        font-size: var(--font-size-title-tasks-small-desktop);
      }
    }

    &__input {
      background-color: var(--blue-gray);
      border: 0;
      border-radius: 0.375rem;
      font-size: var(--font-size-add-task-title);
      height: 3.5rem;
      margin-top: 0.75rem;
      padding: 0.75rem 1rem;

      @include for-desktop-large {
        height: 4rem;
      }
    }

    &__category-icon {
      border: 2px solid var(--blue-gray);
      border-radius: 50%;
      height: 4rem;
      margin: 2.5rem auto;
      position: relative;
      width: 4rem;

      @include for-desktop-large {
        height: 4.5rem;
        width: 4.5rem;
      }

      img {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1.75rem;

        @include for-desktop-large {
          width: 2rem;
        }
      }
    }

    .desktop-form-categories {
      display: flex;
      flex-direction: column;
      margin-bottom: 12.25rem;

      @include for-desktop-large {
        margin-bottom: 10rem;
      }
    }

    .desktop-form-categories-list {
      display: grid;
      grid-column-gap: 5.875rem;
      grid-row-gap: 0.875rem;
      grid-template-columns: 1fr 1fr;
      margin-top: 1.5rem;

      @include for-desktop-large {
        grid-column-gap: 7.75rem;
      }
    }

    @import './desktop-category';

    &__add-task-button {
      background-color: var(--secondary-color);
      border: none;
      border-radius: 0.5rem;
      color: white;
      cursor: pointer;
      font-weight: var(--font-weight-bold);
      height: 3.5rem;
      text-transform: uppercase;
      width: 100%;

      @include for-desktop-large {
        font-size: var(--font-size-title-tasks-small-desktop);
        height: 4rem;
      }

      &:hover {
        background-color: transparent;
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);
      }
    }
  }
}