.desktop-task-todo {
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 0.375rem;
  cursor: pointer;
  display: flex;
  height: 3.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;

  @include for-desktop-large {
    height: 4rem;
    padding: 0.875rem 1rem;
  }

  &.active {
    background-color: var(--secondary-color);
  }
}