.desktop-form-category {
  align-items: center;
  display: flex;

  &__color-dot {
    border-radius: 50%;
    height: 0.625rem;
    margin-right: 0.5rem;
    width: 0.625rem;

    @include for-desktop-large {
      height: 0.75rem;
      width: 0.75rem;
    }

    &--orange {
      background-color: var(--category-recreation-color);
    }

    &--yellow {
      background-color: var(--category-technology-color);
    }

    &--red {
      background-color: var(--category-personal-color);
    }

    &--green {
      background-color: var(--category-food-color);
    }
  }

  &__name {
    font-size: var(--font-size-add-task-title);

    @include for-desktop-large {
      font-size: var(--font-size-add-task-title-small-mobile);
    }
  }

  &__label {
    line-height: 1.1;
    margin-left: auto;
  }

  &__radio-input {
    appearance: none;
    border: 2px solid var(--blue-gray);
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    height: 1.125rem;
    margin: 0;
    place-content: center;
    width: 1.125rem;

    @include for-desktop-large {
      height: 1.25rem;
      width: 1.25rem;
    }

    &:checked::before {
      transform: scale(1);
    }

    &::before {
      box-shadow: inset 10px 10px var(--blue-gray);
      border-radius: 50%;
      content: "";
      height: 0.5rem;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      width: 0.5rem;

      @include for-desktop-large {
        height: 0.625rem;
        width: 0.625rem;
      }
    }
  }
}