.desktop-tasks-done {
  background-image: linear-gradient(to bottom,  var(--secondary-color), transparent);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  margin-top: calc(24vh - 18rem);
  padding: 2rem;
  position: relative;

  @include for-desktop-large {
    padding: 3rem 3rem 2.5rem;
  }

  &__title {
    color: var(--gray);
    font-size: var(--font-size-title-tasks-small-desktop);
    text-transform: uppercase;

    @include for-desktop-large {
      font-size: var(--font-size-add-task-title-small-tablet);
    }
  }

  .desktop-percentage-of-done-tasks {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    position: absolute;
    right: 1.125rem;
    top: 1.125rem;
    width: 3rem;

    @include for-desktop-large {
      height: 3.5rem;
      width: 3.5rem;
    }

    .desktop-pie-chart {
      background: conic-gradient(var(--blue-gray) 0% 63%,
              rgba(15, 37, 56, 0.5) 63% 100%);
      border-radius: 50%;
      height: 3rem;
      position: relative;
      width: 3rem;

      @include for-desktop-large {
        height: 3.5rem;
        width: 3.5rem;
      }

      &::before {
        background-color: var(--secondary-color);
        border-radius: 50%;
        content: '';
        height: 2rem;
        left: 0.5rem;
        position: absolute;
        top: 0.5rem;
        width: 2rem;

        @include for-desktop-large {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }

    &__text {
      font-size: var(--font-size-date);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      @include for-desktop-large {
        font-size: var(--font-size-headers);
      }
    }
  }

  .desktop-tasks-done-list {
    margin-top: 2rem;
  }

  @import 'desktop-task-done';
}