.desktop-task-details, .desktop-add-task {
  background-image: linear-gradient(to bottom, var(--primary-color), transparent);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  //height: 45.5rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 1.625rem 2rem;
  transition: transform 0.25s ease-in-out 0.25s;

  @include for-desktop-large {
    padding: 3rem;
  }

  &__title {
    color: var(--gray);
    font-size: var(--font-size-title-tasks-small-desktop);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;

    @include for-desktop-large {
      font-size: var(--font-size-add-task-title-small-tablet);
    }
  }

  &__subtitle {
    color: var(--blue-gray);
    font-size: var(--font-size-add-task-title-small-mobile);
    font-weight: var(--font-weight-bold);
    margin-top: 2.75rem;

    @include for-desktop-large {
      font-size: var(--font-size-title-tasks-small-desktop);
      margin-top: 2.5rem;
    }
  }

  &__task-title {
    font-size: var(--font-size-title2-small-desktop);
    font-weight: var(--font-weight-bold);
    margin-top: 0.875rem;

    @include for-desktop-large {
      font-size: var(--font-size-add-button);
      margin-top: 0.75rem;
    }
  }

  .dot {
    background-color: var(--category-recreation-color);
    border-radius: 50%;
    grid-row: 2 / 3;
    height: 0.625rem;
    width: 0.625rem;

    @include for-desktop-large {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  .desktop-type-of-task {
    align-items: center;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: max-content max-content;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.75rem;
    margin-top: 4.875rem;

    &:nth-child(5), &:nth-child(6) {
      margin-top: 2.5rem;

      @include for-desktop-large {
        margin-top: 2rem;
      }
    }

    .desktop-task-details__subtitle {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      margin-top: 0;
    }

    &__text {
      font-size: var(--font-size-add-task-title);

      @include for-desktop-large {
        font-size: var(--font-size-headers-small-tablet);
      }
    }

    &__date, &__time {
      grid-column: 1 / -1;

      @include for-desktop-large {
        font-size: var(--font-size-headers-small-tablet);
      }
    }
  }

  &__modify-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    height: 3.5rem;
    margin: calc(33.5vh - 13rem) auto 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 100%;

    @include for-desktop-large {
      font-size: var(--font-size-title-tasks-small-desktop);
      height: 4rem;
      margin: 8.625rem auto 0;
    }

    &:hover {
      background-color: transparent;
      border: 1px solid var(--secondary-color);
      color: var(--blue-gray);
    }
  }
}

.desktop-task-details {
  transform: translateY(150%);
}

.desktop-add-task {
  transform: translateX(150%);
}

.show-details {
  transform: translateY(0%);
  transition: transform 0.25s ease-in-out 0.3s;
}

.show-add-task {
  transform: translateX(0%);
  transition: transform 0.25s ease-in-out 0.3s;
}