.form {
  display: grid;
  grid-template-rows: max-content;
  margin-top: 2rem;
  padding: 0 1.125rem;

  @include for-phone {
    margin-top: 4rem;
  }

  @include for-tablet-portrait-up {
    margin-top: 3.5rem;
  }

  @include for-tablet-landscape-up {
    margin-top: 4.5rem;
    padding: 0 calc(150px - 2rem);
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-headers);
    font-weight: var(--font-weight-normal);

    @include for-tablet-portrait-up {
      font-size: var(--font-size-headers-small-tablet);
    }

    @include for-tablet-landscape-up {
      font-size: var(--font-size-headers-large-tablet);
    }
  }

  &__input {
    background-color: var(--blue-gray);
    border: none;
    border-radius: 0.1875rem;
    color: var(--primary-color);
    font-size: var(--font-size-headers);
    font-weight: var(--font-weight-bold);
    height: 2rem;
    margin-top: 0.625rem;
    padding: 0 1rem;

    @include for-tablet-portrait-up {
      font-size: var(--font-size-date-small-tablet);
      height: 3rem;
      margin-top: 1rem;
    }

    @include for-tablet-landscape-up {
      border-radius: 0.375rem;
      font-size: var(--font-size-headers-small-tablet);
      height: 4rem;
      margin-top: 1.125rem;
    }
  }

  &__add-task-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.3125rem;
    color: white;
    font-size: var(--font-size-add-task-title);
    height: 4rem;
    margin-top: 4rem;
    text-transform: uppercase;

    @include for-tablet-portrait-up {
      border-radius: 0.375rem;
      height: 6rem;
      font-size: var(--font-size-add-task-title-small-tablet);
      margin-top: 3.5rem;
    }

    @include for-tablet-landscape-up {
      border-radius: 0.625rem;
      height: 8rem;
      font-size: var(--font-size-category-number-small-tablet);
      margin-top: 4.875rem;
    }
  }
}