.form {
  display: grid;
  font-size: var(--font-size-headers);
  font-weight: var(--font-weight-normal);
  grid-template-rows: max-content;
  margin-top: 2rem;

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: var(--blue-gray);
    border: none;
    border-radius: 0.1875rem;
    color: white;
    font-size: var(--font-size-headers);
    height: 2rem;
    margin-top: 0.625rem;
    padding: 0 1rem;
  }

  &__add-task-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.3125rem;
    color: white;
    font-size: var(--font-size-add-task-title);
    height: 4rem;
    margin-top: 4rem;
    text-transform: uppercase;
  }
}