.mobile-menu {
  backdrop-filter: blur(50px);
  background-color: var(--primary-color-menu);
  box-shadow: var(--shadow-mobile-menu);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 4.625rem 3rem;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  width: 74%;

  @include for-tablet-portrait-up {
    padding: 6.125rem 4.875rem;
  }

  &.menu-open {
    transform: translateX(0);
  }

  .subtitle-wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;

    &__icon {
      height: 1.5rem;
      margin-right: 0.875rem;
      width: 1.5rem;

      @include for-tablet-portrait-up {
        height: 2rem;
        margin-right: 1rem;
        width: auto;
      }
    }

    &__text {
      font-size: var(--font-size-add-task-title);
      text-transform: uppercase;
      margin-top: 1px;

      @include for-tablet-portrait-up {
        font-size: var(--font-size-add-task-title-small-tablet);
      }
    }

  }

  .category-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2rem 0 4rem;

    @include for-tablet-portrait-up {
      margin: 2rem 0 3rem;
    }

    .category {
      align-items: center;
      display: flex;
      margin-bottom: 1rem;

      @include for-tablet-portrait-up {
        margin-bottom: 1.125rem;
      }

      &:first-child {
        color: var(--blue-gray);
        margin-left: 1.125rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &__icon {
        border-radius: 50%;
        height: 0.375rem;
        margin-right: 0.75rem;
        width: 0.375rem;

        @include for-tablet-portrait-up {
          height: 0.5rem;
          width: 0.5rem;
        }

        &--orange {
          background-color: var(--category-recreation-color);
        }

        &--yellow {
          background-color: var(--category-technology-color);
        }

        &--red {
          background-color: var(--category-personal-color);
        }

        &--green {
          background-color: var(--category-food-color);
        }
      }

      &__name {
        font-size: var(--font-size-headers);
        font-weight: var(--font-weight-normal);

        @include for-tablet-portrait-up {
          font-size: var(--font-size-headers-small-tablet);
        }
      }

      &__pill {
        background-color: var(--gray);
        border-radius: 0.875rem;
        color: var(--primary-color);
        font-size: var(--font-size-headers);
        font-weight: var(--font-weight-bold);
        height: 1rem;
        line-height: 1.25;
        margin-left: auto;
        text-align: center;
        width: 2.5rem;

        @include for-tablet-portrait-up {
          font-size: var(--font-size-date-small-tablet);
          height: 1.25rem;
          line-height: 1.4;
          width: 2.5rem;
        }
      }
    }
  }
  .calendar-category-list {
    margin: 2rem auto 0;
    list-style: none;

    &__year, &__month, &__day {
      font-size: var(--font-size-headers);
      font-weight: var(--font-weight-normal);
      margin-bottom: 1rem;

      @include for-tablet-portrait-up {
        font-size: var(--font-size-headers-small-tablet);
        margin-bottom: 1.125rem;
      }
    }

    .year, .month, .day, .day-of-week {
      color: var(--blue-gray);
      font-weight: var(--font-weight-bold);
    }
  }
}